body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  //ビューポートの高さを確保

  //リンクボタン
  .btn-link {
    text-decoration: none;  // 下線を消す
    color: $text-muted;

    &:hover {
      text-decoration: underline;
      color: $text-muted;  // ホバー時も同色
    }
  }

  header {
    height: 70px;
    background-color: #333;

    .navbar-brand {
      padding-left: 1rem;  //左に間隔を
      font-size: 1.8rem;
      color: white;
    }

    .navbar-toggler {
      border-color: white;  // ハンバーガーメニューの枠線を白色に
      margin-right: 0.7rem;  //右に間隔を

      .navbar-toggler-icon {  // ハンバーガーメニュー内の3本線を白色に
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
      }
    }

    .offcanvas {
      background-color: #333;

      .offcanvas-title {
        color: white;
      }
    
      .nav-link {
        color: white;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  main {
    margin-bottom: 20px;  // footerとの間隔

    .card {
      &:hover {
        border-color: rgb(55, 105, 223);  // ホバー時の枠線を青に
      }
    }
  }

  footer {
    background-color: lightgrey;
    margin-top: auto;  // フレックスボックスで自動的に下に寄せる
    color: $text-muted;
  }
}
