body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .btn-link {
    text-decoration: none;
    color: $text-muted;

    &:hover { text-decoration: underline; color: $text-muted; }
  }

  header {
    height: 70px;
    background-color: #333;
    color: white;

    .navbar-brand { padding-left: 1rem; font-size: 1.8rem; }
    .btn-login { margin-right: 0.7rem; }

    .navbar-toggler {
      border-color: white;
      margin: auto 0.7rem;

      .navbar-toggler-icon {
        background-image: url(
          "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"
        );
      }
    }

    .offcanvas {
      background-color: #333;

      .offcanvas-title { color: white; }

      .nav-link {
        color: white;
        &:hover { text-decoration: underline; }
      }
    }
  }

  main {
    padding-bottom: 1.25rem;

    .card {
      &:hover { border-color: rgb(55, 105, 223); }
    }
  }

  footer {
    background-color: lightgrey;
    margin-top: auto;
    color: $text-muted;
  }
}
